<form action='/users/signup' method='POST' class='form'>
    <label class='label'>
        First Name:
        <input type="text" name="first_name" placeholder="fred" />
    </label>
    <label class='label'>
        Last Name:
        <input type="text" name="last_name" placeholder="flinstone" />
    </label>
    <label class='label'>
        Email Address:
        <input type="text" name="email" placeholder="you@email.com" />
    </label>
    <label class='label'>
        Password:
        <input type="password" name="password" placeholder="Your Password" />
    </label>
    <button type='submit' class='button is-primary'>Login</button>
</form>